@use '../ui/filler';

.ReadingRoom {
    display: flex;
    padding: 0;
    background-color: white;

    > iframe {
        padding: 0;
        border: none;
        flex-grow: 1;
    }

    .Empty {
        @extend %tab-empty-filler;

        align-items: center;
        justify-content: center;
    }
}