@use '../styles/reset';

.BookExplorer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    //REF this is because of the toolbar's width
    //REF this value should be obtained from a variable to reflect that
    margin-left: -1.66rem;

    //REF generalize
    //REF compute layout properly without hacky adjustments
    .Filler {
        &.Empty p {
            margin-left: -6.5%;
        }

        &.Loading p {
            margin-left: -38.5%;
        }
    }

    > ul {
        & > li {
            @include reset.list();
        }
    }

    &-books {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        gap: 1.75rem max(5%, 2.75rem);
        justify-content: center;
        align-items: center;
        margin: 1rem auto;
        padding: max(2.5%, var(--tab-padding-horizontal));

        > .container {
            flex-basis: 15%;
        }
    }
}