@use '../styles/feature';

.Explore {
    --tab-padding-horizontal: 2.5rem;

    color: var(--theme-darker);

    &,
    > .container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    > .container {
        flex-basis: 50%;
        padding: 1rem max(var(--tab-padding-horizontal, 1rem), 7.5%);
    }

    &-header {
        display: flex;
        justify-content: stretch;
        padding: 0 var(--tab-padding-horizontal);

        > .container {
            display: flex;
            justify-content: stretch;
            align-items: center;
            flex-grow: 1;

            > * {
                flex-basis: 15%;
                flex-grow: 0;

                &:nth-child(2) {
                    flex-grow: 1;
                }
            }

            > .container {
                > * {
                    width: max-content;
                }

                &:last-child > * {
                    margin-left: auto;
                }
            }
        }
    }

    h1 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 0.775em;
    }

    .Pagination {
        @extend %feature;

        width: max-content;
        margin: auto;

        > * {
            --divider-color: var(--theme-lighter);

            @extend %divider-proprietor;

            padding: 1rem 0.75rem;
            background-color: transparent; //REF move to feature module

            &:first-child {
                padding-left: 1rem;

                &::before {
                    display: none;
                }
            }

            &:last-child {
                padding-right: 1rem;
            }
        }
    }
}