@use 'sass:color';
@use '../styles/reset';
@use '../styles/theme';
@use '../styles/feature';

.SearchInput {
    @extend %feature;

    display: flex;

    > * {
        padding: 1rem;
        background-color: transparent;
    }

    > input[type=search] {
        @include reset.input();
        
        flex-basis: 75%;

        &:focus,
        &:active {
            border: none;
            outline: none;
        }
    }

    > button {
        @include reset.button();

        --divider-color: var(--theme-light);

        @extend %divider-proprietor;

        flex-basis: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}