@use '../styles/reset';

.ShowFavorites {
    @include reset.link();

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--theme-feature-color);
    color: crimson;
    border-radius: 50%;
}