@use 'sass:color';
@use '../styles/theme';

%tab-empty {
    padding: 0;
}

%tab-empty,
%tab-empty-filler {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

%tab-empty-filler {
    padding: 1rem;
    background-color: var(--theme-lighter);
    color: color.adjust(theme.$silver, $lightness: -15);
    font-size: 1.5rem;

    p {
        text-align: center;

        & + p {
            margin-top: -0.5em;
        }
    }
}