%feature {
    background-color: var(--theme-feature-color);
    border-radius: 40px;
}

%divider-proprietor {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 5%;
        bottom: 5%;
        width: 1px;
        background-color: var(--divider-color);
        border-radius: 50%;
    }
}