$clouds: #ecf0f1;
$silver: #bdc3c7;
$wet-asphalt: #34495e;
$midnight-blue: #2c3e50;

@mixin apply() {
    :root {
        --theme-dark: #{$wet-asphalt};
        --theme-darker: #{$midnight-blue};
        --theme-light: #{$silver};
        --theme-lighter: #{$clouds};
    }
}