@use 'styles/theme';
@use 'styles/reset';

//REF All font variations are downloaded in order to play with them freely during development
//REF but as it becomes clear that some of them are redundant, they should be restricted to a reasonable range
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@include theme.apply();

.App {
    font-family: 'PT Sans', sans-serif;
}

.App {
    display: flex;
    flex-grow: 1;
    justify-content: stretch;

    .App-aside {
        flex-basis: 12.5vw;
        flex-shrink: 0;
        background-color: var(--theme-darker);
        color: var(--theme-lighter);

        > header {
            padding-right: 1rem;
            padding-left: 1rem;
        }

        .App-title {
            text-align: center;
            font-size: 1.5em;
            margin: 1.5rem 0 1.33rem;
            text-transform: uppercase;
            letter-spacing: 0.8px;
        }

        .App-nav {
            a {
                @include reset.link();

                display: block;
                padding: 0.75rem 1rem;
                background-color: var(--theme-dark);

                & + a {
                    margin-top: 0.75rem;
                }
            }
        }
    }

    .Tab {
        flex-grow: 1;
        background-color: var(--theme-lighter);

        > * {
            padding: 1rem;
        }
    }
}